[MCMC]

# Define points which should be used as messurment like [[32,10],[15,10]] from 64x64 grid or type None to randomly select points
points  = None

# If points = None than npoints defines the number of points that will be randomly selected
npoints = 10

# 1-sigma noise of messurment: eg. for pressures in range of 0-1 add a noise to the messurment points with std(point) = noise = 0.05
noise   = 0.05

# location of the directory containing the numpoly files specifing the chaos polynom at every location
poly_folder = '/home/tassia/Hiflow-2-22/ba-v2/build/examples/boussinesq2d' 

# True Rayleigh Number
prandtl  = 6

# True Rayleigh Number
rayleigh = 1e5

#         Prandtl  Rayleigh
pmin     =   2       1e3
pmax     =  13.5     1e6
pstep    =   0.05    5e2

# Number of Samples to draw
nsamples = 1e3

# Number of samples that will be disregarded to burn in 
burnin   = 0

# Discard every thinning-th sample 
thinning = 1

# Number of CPUs to use
ncpu     = 12

# Gelman-Rubin convergence test
grtest   = False

plots    = True

# location of saves
savepath = '/home/tassia/Hiflow-2-22/ba-v2/ergebnisse/PC8_Rayleiy_1e4,1e6_Prandtl_2,13.5/metropolis_test'

#Abbruch knopf einbauen, Zeitmessung fuer runtime
